[unix_http_server]
file=%(here)s/../run/supervisor.sock

[inet_http_server]
port = 0.0.0.0:9001
username = ops
password = ops

[supervisord]
pidfile=%(here)s/../run/supervisord.pid
logfile=%(here)s/../log/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
nodaemon=false
minfds=1024
minprocs=200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://%(here)s/../run/supervisor.sock

[program:httpd]
command=sudo /usr/sbin/apachectl -DFOREGROUND
process_name=%(program_name)s
priority=1
numprocs=1
numprocs_start=0
redirect_stderr=true
stdout_logfile=%(here)s/../log/%(program_name)s.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=10
startsecs=10

[program:tsunamid]
directory=/data/work
command=/usr/local/bin/tsunamid /data/work/*
process_name=%(program_name)s
priority=1
numprocs=1
numprocs_start=0
redirect_stderr=true
stdout_logfile=%(here)s/../log/%(program_name)s.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=10
startsecs=10

[program:instance_stats]
directory=/home/ops/verdi/ops/hysds/scripts
command=/home/ops/verdi/ops/hysds/scripts/log_instance_stats.py --interval 600
process_name=%(program_name)s
priority=1
numprocs=1
numprocs_start=0
redirect_stderr=true
stdout_logfile=%(here)s/../log/%(program_name)s.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=10
startsecs=10

[program:{{ queue }}]
directory=/home/ops/verdi/ops/hysds
environment=HYSDS_ROOT_WORK_DIR="/data/work",
            HYSDS_DATASETS_CFG="/home/ops/verdi/etc/datasets.json",
            FACTER_ipaddress_eth0="__IPADDRESS_ETH0__",
            FACTER_fqdn="__FQDN__"
command=celery worker --app=hysds --concurrency=1 --loglevel=INFO -Q {{ queue }} -n %(program_name)s.__FQDN__ -O fair --without-mingle --without-gossip --heartbeat-interval=60
process_name=%(program_name)s
priority=1
numprocs=1
numprocs_start=0
redirect_stderr=true
stdout_logfile=%(here)s/../log/%(program_name)s.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=10
startsecs=10
